html {
 box-sizing: border-box;
}
*, *:before, *:after {
 box-sizing: inherit;
 overflow:auto;
}


header{
	width: 100%;
	height: 200px;
}

footer{
	height: 200px;
	width: 100%;
}

main{
	width: 60%;
	margin:-left: 20%;
	margin-right: 20;
	min-height: calc(100vh-400px)
	/*background: #f5a7a2;*/
}

aside{
	width: 20%;
	position: absolute;
	/* make the left aside positioned in the top left corner and the right aside positioned in the top right corner */
}

aside:first-child{
	top: 0px;
	right; 0px;
}

#content{
	position: relative;
}

body{
	margin: 0;
	padding: 0;
}

header, footer{
	background: #f25b50;
}

main{
	background: #f5a7a2;
}
